body {
     margin: 0;
    padding: 0;
    height: 650px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)),
     url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}
    

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}


.fonts {
    font-size: 11px
}




.profilecontainer{
    text-align: justify;
}










